<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="views/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="views/fonts/icons.font.css" rel="stylesheet">
    <title>AlpakaChat</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          AlpakaChat
        </a>
      </div>
    </nav>
    <!-- Hier beginnt das, das auf der Seite spiziell angezeigt werden soll (Body ohne Nav & co.)-->
    <div class="container" style="margin-top: 50px;">
        <h1>Direktnachricht erstellen</h1>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input id="input" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            <button id="start" type="button" class="btn btn-primary"><i class="large material-icons">add</i></button>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="views/bootstrap/js/bootstrap.min.js"></script>
    <script>
var socket = new io("ws://localhost:8080");
document.getElementById("start").addEventListener("click", () => {
  socket.emit("creategroup", {members: [document.getElementById("input").value, localStorage.getItem("username")]})
  window.location = "http://localhost:8080/dashboard"
})
    </script>
  </body>
</html>