<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="fonts/icons.font.css" rel="stylesheet">
    <title>AlphaChat</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          AlphaChat
        </a>
      </div>
    </nav>
    <!-- Hier beginnt das, das auf der Seite spiziell angezeigt werden soll (Body ohne Nav & co.)-->
    <div class="container" style="margin-top: 50px;">
        <h1>Direktnachricht erstellen</h1>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            <button type="button" class="btn btn-primary"><i class="large material-icons">add</i></button>
        </div>
        <h3>Bereits hinzugefügt</h3>
        <ul class="list-group">
            <li class="list-group-item">Tom</li>
            <li class="list-group-item">Max</li>
            <li class="list-group-item">Lara</li>
        </ul>
    </div>
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>