<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="views/fonts/icons.font.css" rel="stylesheet">
    <link href="views/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <title>AlphaChat</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          AlphaChat
        </a>
      </div>
    </nav>
    <div class="container">
        <h1 style="margin-top: 20px;">Deine Chats</h1>
        <ul class="list-group">
          <li class="list-group-item">Lara <br> <p style="color: grey;">Du: Wie geht es dir?</p></li>
          <li class="list-group-item">Tom <br> <p style="color: grey;">Du: Wie geht es dir?</p></li>
          <li class="list-group-item">Hans <br> <p style="color: grey;">Du: Wie geht es dir?</p></li>
        </ul>
    </div>
    <!-- Hier beginnt das, das auf der Seite spiziell angezeigt werden soll (Body ohne Nav & co.)-->
    <script src="views/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>