<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="views/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <title>AlpakaChat</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          AlpakaChat
        </a>
      </div>
    </nav>
    <!-- Hier beginnt das, das auf der Seite spiziell angezeigt werden soll (Body ohne Nav & co.)-->
    <div align="center" style="margin-top: 200px;">
      <h1>Wilkommen</h1>
      <button onclick="window.location = 'http://localhost:8080/login'" type="button" class="btn btn-primary">Einloggen</button>
      <button onclick="window.location = 'http://localhost:8080/register'" type="button" class="btn btn-secondary">Registrieren</button>
    </div>
    <script src="views/bootstrap/js/bootstrap.min.js"></script>
    <script>
    </script>
  </body>
</html>